$a-colors-support-parser: (
    outline-color: null,
    color: color,
    link-outline-color: null,
    link-color: null,
    visited-outline-color: null,
    visited-color: null,
    active-outline-color: null,
    active-color: null,
    hover-outline-color: null,
    hover-color: 'hover-color',
    focus-outline-color: null,
    focus-color: 'hover-color'
) !default;


$a-colors-support-extra-colors-palette: () !default;
$a-colors-support-skip-colors-palette: null !default;
